<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.programmer.jgallos.ma_i">

    <application
        android:name=".TimeClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AvailClassesActivity"
            android:label="@string/title_activity_avail_classes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClassSessionActivity"
            android:label="@string/title_activity_class_session"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddAcadActivity"
            android:label="@string/title_activity_add_acad"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewAcadActivity"
            android:label="@string/title_activity_view_acad"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewAttendanceActivity"
            android:label="@string/title_activity_view_attendance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewFeedbackActivity"
            android:label="@string/title_activity_view_feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleFeedbackActivity"
            android:label="@string/title_activity_single_feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeedbackReplyActivity"
            android:label="@string/title_activity_feedback_reply"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>